@import 'fonts.css';

:root {
	--red: #820101;
	--blue:  #7FC7FF;
	--gray: #4f4f4f;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
	background: none;
	outline: none;
}

input {
	outline: none;
}

.form-1 {
	margin-top: 150px;
}

.form {
	margin: 0 auto;
	padding: 15px;
	max-width: 300px;
	background: #c1c1c1;
}

.form-h1 {
	margin-bottom: 15px;
	text-align: center;
	font-size: 25px;
}

.div {
	display: flex;
	flex-direction: column;
}

.div label {
	margin: 10px 0;
}

input {
	padding: 10px;
}

.input:last-child() {
	margin-bottom: 10px;
}

.button {
	padding: 10px 20px;

	width: 100%;
	background: #dedede;
}

.p {
	text-align: center;
	font-size: 15px;
}

.msg {
	text-align: center;
	color: red;
}